<html>

<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Please, provide Your message">
            <input type="text" name="tag" placeholder="Teg">
            <button type="submit"> Add </button>
        </form>
    </div>
 <div> Lista messages  </div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <button type="submit"> Find </button>
    </form>
 {{#messages}}
     <div>
     <b>{{id}}</b>
     <span>{{text}}</span>
     <i>{{tag}}</i>
     </div>
 {{/messages}}
</body>
</html>